.navbar {
  margin-bottom: 0;
  border-bottom: 0;
}
.navbar.navbar-user {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 10px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.navbar.navbar-user #stripped-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar.navbar-user #stripped-menu > li {
  float: left;
  border-bottom: 4px solid transparent;
}
.navbar.navbar-user #stripped-menu > li.active {
  border-bottom: 4px solid #348fd6;
}
.navbar.navbar-user #stripped-menu > li.active > a {
  color: #348fd6;
}
.navbar.navbar-user #stripped-menu > li.active > a:hover {
  color: #348fd6;
}
.navbar.navbar-user #stripped-menu > li > a {
  display: block;
  padding: 12px 17px;
  color: #777777;
}
.navbar.navbar-user #stripped-menu > li > a:hover {
  text-decoration: none;
  color: #444444;
}
.navbar.navbar-user #stripped-menu:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

#leftbar .img-ava {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}
#leftbar .img-ava + h3 {
  font-size: 18px;
  text-align: center;
}
#leftbar > #side-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#leftbar > #side-menu > ul > li {
  border-left: 4px solid transparent;
}
#leftbar > #side-menu > ul > li > a {
  font-weight: bold;
  padding: 10px 15px;
  display: block;
  color: #8f8f8f;
}
#leftbar > #side-menu > ul > li > a:hover {
  color: #5c5c5c;
  text-decoration: none;
}
#leftbar > #side-menu > ul > li.active {
  border-left: 4px solid #348fd6;
}
#leftbar > #side-menu > ul > li.active > a {
  color: #348fd6;
}

@media screen and (max-width: 768px) {
  #leftbar {
    position: fixed;
    background-color: red;
    float: none;
    left: 999px;
  }
}
#image-show {
  margin-top: 10px;
}
