$color1 : #fff;
$color2 : #fff;

$fontfamily: "Helvetica Neue", sans-serif;

// Color
$primaryColor : #348fd6;
$infoColof : #62cfe9;
$warningColor : #f3c700;
$dangerColor : #d74c3b;
$successColor : #7fc956;

// Gray Color
$lightBase : #f5f5f5;
$mediumBase : #dddddd;
$darkBase : #5d6977;

// Auth Page
$authBannerBg : $primaryColor;
$authBoxBg : rgb(255,255,255);
